* {
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
}

body {
    background-color: rgb(211, 208, 208);
}

main {
    width: 80%;
    margin: auto;
    padding: 3em;
    align-content: center;
    justify-content: center;

}

.menu {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    Background-color: rgb(211, 208, 208);
    justify-content: center;
    list-style: none;
    
    border-bottom: 2px solid black;
    padding: 1em 0%;

}

#indice {
    padding: 2em;
}

.contenedorTarjetas {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contenedorReceta {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgb(145, 182, 236);
    padding: 1em;

}

.tituloReceta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.tituloReceta p {
    justify-content: space-between;
    justify-items: stretch;
}